<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>交易流水</title>
  <script src="static/scripts/cssrem.js"></script>
</head>

<body>
  <div class="content rel">
    <div class="wrapper">
      <!-- prompt -->
      <!-- <div class="tool-tips f28 g6">听该敖德萨所多</div> -->
      <div class="order-list">
        <div class="order-item bgwh g3">
          <div class="cell pt20 pb20">
            <div class="cell__bd f28 pl20 g3">交易流水号:20177403050020</div>
            <div class="cell__fd b f26 text-danger">待付款</div>
          </div>
          <div class="cell pt20 pb20 pl20 ui-1px-t">
            <div class="cell__bd f28"> <em class="g9">汇付识别码：</em> <em class="g3 b">L9dPm8F7</em> </div>
            <div class="cell__fd f26"><em class="g9 f24">实收金额：</em><em class="g3 b f28">￥10000.00</em></div>
          </div>
          <ul class="flow-type p20 ui-1px-t f26">
            <li class="clearfix g9"> <span class="l">交易类型</span> <span class="r">消费</span> </li>
            <li class="clearfix g9"> <span class="l">下单时间</span> <span class="r">2017-08-28 15:07:01</span> </li>
            <li class="clearfix g9"> <span class="l">打款时间</span> <span class="r">未完成</span> </li>
            <li class="clearfix g9"> <span class="l">打款人</span> <span class="r">15652123251</span> </li>
          </ul>
          <div class="cell pt20 pb20 ml20 ui-1px-t">
            <div class="cell__bd f28 g3 tr"> <a class="btn dib f24 g3 mr20" href="./pay-detail.html">支付凭证</a> </div>
          </div>
        </div>
        <div class="order-item bgwh g3">
          <div class="cell pt20 pb20">
            <div class="cell__bd f28 pl20 g3">交易流水号:20177403050020</div>
            <div class="cell__fd b f26 text-danger">未退款</div>
          </div>
          <div class="cell pt20 pb20 pl20 ui-1px-t">
            <div class="cell__bd f28"> <em class="g9">汇付识别码：</em> <em class="g3 b">L9dPm8F7</em> </div>
            <div class="cell__fd f26"><em class="g9 f24">实收金额：</em><em class="g3 b f28">￥10000.00</em></div>
          </div>
          <ul class="flow-type p20 ui-1px-t f26">
            <li class="clearfix g9"> <span class="l">交易类型</span> <span class="r">消费</span> </li>
            <li class="clearfix g9"> <span class="l">下单时间</span> <span class="r">2017-08-28 15:07:01</span> </li>
            <li class="clearfix g9"> <span class="l">退款时间</span> <span class="r">未完成</span> </li>
            <li class="clearfix g9"> <span class="l">收款人</span> <span class="r">15652123251</span> </li>
          </ul>
          <div class="cell pt20 pb20 ml20 ui-1px-t">
            <div class="cell__bd f28 g3 tr"> <a class="btn dib f24 g3 mr20" href="./pay-detail.html">支付凭证</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
</body>

</html>
