<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>支付详情</title>
  <script src="static/scripts/cssrem.js"></script>
</head>

<body>
  <div class="content">
    <div class="wrapper">
      <!-- 支付信息 -->
      <div class="pay-detail bgwh pt20">
        <dl class="pl20 pr20 mt10">
          <dt class="pay-firm f0 tc"><i class="icon-01 dib vt mr10"></i><span class="dib vt f28">北京亿通贸科技有限公司</span></dt>
          <dd class="pay-money mt20 tc">¥32500</dd>
          <dd class="pay-status tc f26 g9 mt10 mb20 pb10">未支付</dd>
          <dd class="clearfix f28 mt20"> <span class="l g9">汇付识别码:</span> <span class="r text-danger">wb345675</span> </dd>
          <dd class="clearfix f28 mt20">
          <span class="l g9">支付类型:</span> <span class="r g6">消费</span> </dd>
          <dd class="clearfix f28 mt20"> <span class="l g9">交易编码:</span> <span class="r g6">345256277</span> </dd>
          <dd class="clearfix f28 mt20"> <span class="l g9">支付时间:</span> <span class="r g6">2017-08-22 11:24:34</span> </dd>
          <dd class="addto-proof tc"><a class="rel db f0" href="./proof.html"><i class="icon-03 dib vm mr20"></i> <span class="dib vm f30">添加支付凭证</span></a></dd>
        </dl>
      </div>
      <div class="pay-proof pb20">
        <ul>
          <li class="pay-proof-item bgwh">
            <div class="pay-proof__title f0 g6 rel"> <i class="icon-02 dib vm mr10"></i><span class="dib vm f28">支付凭证</span> </div>
            <dl class="rel f24 proof">
              <dt class="proof-photo" data-src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg"></dt>
              <dd>
                <p><span class="g9">打款金额：</span><span class="g6">¥374653</span></p>
                <p class=""><span class="g9">银行流水：</span><span class="g6">45667374653</span></p>
                <p class=""><span class="g9">支付时间：</span><span class="g6">2017-08-22 11:24:34</span></p>
              </dd>
            </dl>
          </li>
          <li class="pay-proof-item bgwh">
            <div class="pay-proof__title f0 g6 rel"> <i class="icon-02 dib vm mr10"></i><span class="dib vm f28">支付凭证</span> </div>
            <dl class="rel f24 proof">
              <dt class="proof-photo" data-src="https://images.unsplash.com/reserve/wi9yf7kTQxCNeY72cCY6_Images%20of%20Jenny%20Lace%20Plasticity%20Publish%20(4%20of%2025).jpg?dpr=2&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop="></dt>
              <dd>
                <p><span class="g9">打款金额：</span><span class="g6">¥374653</span></p>
                <p class=""><span class="g9">银行流水：</span><span class="g6">45667374653</span></p>
                <p class=""><span class="g9">支付时间：</span><span class="g6">2017-08-22 11:24:34</span></p>
              </dd>
            </dl>
            <li class="pay-proof-item bgwh">
              <div class="pay-proof__title f0 g6 rel"> <i class="icon-02 dib vm mr10"></i><span class="dib vm f28">支付凭证</span> </div>
              <dl class="rel f24 proof">
                <dt class="proof-photo"></dt>
                <dd>
                  <p><span class="g9">打款金额：</span><span class="g6">¥374653</span></p>
                  <p class=""><span class="g9">银行流水：</span><span class="g6">45667374653</span></p>
                  <p class=""><span class="g9">支付时间：</span><span class="g6">2017-08-22 11:24:34</span></p>
                </dd>
              </dl>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div> <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
            title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button
            class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div> <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
  <link href="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/photoswipe/4.1.2/default-skin/default-skin.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe.min.js"></script>
  <script src="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
</body>

</html>
