<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>交易流水</title>
  <script src="static/scripts/cssrem.js"></script>
</head>

<body>
  <div class="content">
    <div class="wrapper">
      <div class="bgwh pt20 transport-form">
        <div class="cell f30 pt20 pb20 mr20">
          <div class="cell__hd g6 transport-form__name"><label for="driverName">司机姓名:</label></div>
          <div class="cell__bd ml20 pl20"><input class="input__style g3" id="driverName" type="text" placeholder="请您输入司机名字"></div>
        </div>
        <div class="cell f30 pt20 pb20 mr20">
          <div class="cell__hd g6 transport-form__name"><label for="driverPhone">联系方式:</label></div>
          <div class="cell__bd ml20 pl20"><input class="input__style g3" id="driverPhone" type="text" placeholder="请您输入司机的联系方式"></div>
        </div>
        <div class="cell f30 pt20 pb20 mr20">
          <div class="cell__hd g6 transport-form__name"><label for="licensePlate">车牌号:</label></div>
          <div class="cell__bd ml20 pl20"><input class="input__style g3" id="licensePlate" type="text" placeholder="请您输入车牌号"></div>
        </div>
      </div>
      <!-- 备注 -->
      <dl class="bgwh mt20 pl20 pr20 ui-1px ge remark pb10">
        <dt class="f28 g6 pt20 pb20">填写备注:</dt>
        <dd class="rel"> <textarea class="f28" name="" id="" data-limit="500"></textarea>
          <p class="textarea__tips"></p>
        </dd>
      </dl>
      <p class="f0 mt20 pl20"><i class="icon-05 dib vm mr10"></i> <span class="dib vm f22">请填写有效信息，以便货品运输追踪</span></p>
      <div class="mt20 mb20 pt20 pb20"></div>
      <div class="mt20 mb20 pt20 pb20"></div>
      <div class="m20"> <a class="btn btn__primary tc white f34 db ml10 mr10" href="javascript:;">完成</a> </div>
    </div>
  </div>
</body>

</html>
